<section>
    <h1>{{title}}</h1>
    <article class=searchResult>
        <h2>{{userId}}</h2>
        {{#if user}}
        <button class="collapsible">Found: {{user._id}}, and it is {{user.name}}</button>
        <div class="content">
            <h3>Liked Venues:</h3>
            {{#each user.likes}}
                <p>{{this}}</p>  
            {{/each}}        
        </div>
        {{else}}
            <p class="not-found">We are sorry, but no results were found for {{user._Id}}.</p>
        {{/if}}
    </article>
</section>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
</script>