<section>
    <h1>{{title}}</h1>
    <article class=searchResult>
        {{#if venues}}
        <h2>Venues</h2>
            {{#each venues}}
                <div>
                    <button class="collapsible">{{this._id}} {{this.name}}</button>
                    <div class="content">
                        <ul>
                            <li>Location: {{this.location}}</li>
                            <li>Hours: Upgrade to Enjoy this Feature</li>
                            <li>Style: {{this.style}}</li>
                            <li>Description: {{this.description}}</li>
                        </ul>  
                    </div>
                </div>
            {{/each}} 
        {{else if venue}}
        <h2>New Venue Added:</h2>
        <div>
            <ul>{{venue.name}}
                <li>id: {{venue._id}}</li>
                <li>Location: {{venue.location}}</li>
                <li>Hours: Upgrade to Enjoy this Feature</li>
                <li>Style: {{venue.style}}</li>
                <li>Description: {{venue.description}}</li>
            </ul>  
        </div>
        {{else}}
            <h2>Venue Not Found</h2>
            <p class="not-found">We are sorry, but no results were found.  {{venues._Id}}</p>
        {{/if}}
    </article>
</section>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
</script>